@model Ecommerce_Site.Models.LaptopModel
@{ ViewData["Title"] = "AddToCart"; }
<br />
<form asp-action="AddToCart" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>

        <h2 class="text-info"> <i class="fas fa-shopping-cart"></i> Your Cart</h2>

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>

                           
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                        <td>
                            
                                <img src="@Html.DisplayFor(model => model.ImageUrl)">
                            
                            </td>
                                <td>  @Html.DisplayFor(model => model.ProductName)</td>
                                <td>  RS.@Html.DisplayFor(model => model.Price)/-</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-6">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
                </div>
                <div class="col-6 text-right">
                    <h3>Total Amount</h3>
                    <h3>Grant Total : RS.@Html.DisplayFor(model => model.Price)/- </h3>
                    <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Checkout! " />
                </div>
            </div>
        </div>
      
</form>






@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

